*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background:linear-gradient(155deg,lightblue,blue);
    padding:  10px;
}
.todo-app{
    width: 100%;
    max-width:540px;
    background: white;
    margin:100px auto 20px;
    padding:40px 30px 70px;
    border-radius:10px;
}
.todo-app h2{
    color:black;
    display:flex; 
    align-items: center;
    margin-bottom: 20px;
}
.todo-app h2 img{
    width:30px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color:beige;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border:none;
    outline:none;
    background:transparent;
    padding:10px;
    font-weight: 14px;
}
button{
    border:none;
    outline:none;
    padding: 16px 50px;
    background-color: rgb(238, 68, 88);
    color: black;
    font-size: 16px;
    cursor: pointer;
    border-radius:40px;
}
ul li{
    list-style: none;
    font-size: 18px;
    padding:10px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content:'';
    position:absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url('image/uncheckcircle.png');
    background-size: cover;
    background-position: center;
    top:12px;
    left:8px;
    
}
ul li.checked{
    color:black;
    text-decoration:line-through;
}
ul li.checked::before{
    background-image: url('image/tickicon.png')
}
ul li span{
    position:absolute;
    right:0;
    top:5px;
    width:40px;
    height:40px;
    font-size:22px;
    color:#555;
    line-height: 40px;
    text-align:center;
    border-radius:50%;
}
ul li span:hover{
    background: #edeef0;
}